.body {
    position: relative;
    z-index: 0;
    min-width: 100vw;
    min-height: 100vh;
    &.modal-active {
        overflow-y: hidden;
        height: 100vh;
    }
}
.site-main {
    width: 100vw;
    min-height: calc(100vh - #{$header-height});
    z-index: 1;
}

.pokemon-button {
    border: none;
    background: none;
}

.pokemon-name {
    text-transform: capitalize;
}

.pokemon-type {
    &::after {
        content: '/'
    }
    &:last-of-type {
        &::after {
            content: ''
        }
    }
}